.sidebar{
   height: 100dvh;
   width: 100%;
   background-color: var(--sidebar);
   flex-direction: column;
   justify-content: flex-start;
   justify-content: space-between;
   align-items: center;
   overflow: hidden;
}
a{
    text-decoration: none;
    color: black;
}
.logo{
    height: 25%;
}
#logoImg{
    width: 100%;
}
h1{
    margin-top: 1rem;
    border-radius: 10px;
    padding: 7px;
}
i{
    margin-right: 1rem;
    width: 24px;
}
.fa-building{
    padding-left: 2px;
}
.links{
    height: 40%;
    width: auto;
    justify-content: space-around;
    flex-direction: column;
    margin-bottom: auto;
    
}
.link{
    border-radius: 10px;
    font-size: larger;
    padding: 12px;
    padding-inline: 50px;
    color: white;
    transition: all 0.3s;
}
.link:not(.active):hover{
    opacity: 0.5;
    background-color: var(--darkestgreen);
}
.link.active{
    color: white;
    background-color: #111a2081;

}
.profile{
    border-radius: 15px;
    padding: 1rem;
    height: 14.5rem;
    width: 232px;
    margin-bottom: 2rem;
}
.profileImage{
    border-radius: 15px;
    width: 6rem;
    height: 6rem;
    object-fit: cover;
}
.profileInfo{
    width: auto;
    flex-direction: column;
}
.ProfileLogout{
    margin-top: 10%;
}
#logout{
    border-radius: 10px;

    padding: 1rem;
    padding-right: 5rem;
}
@media (max-width: 991px){
    .sidebar{
        height: 0;
        display: none;
    }
    .sidebar > *{
        display: none;
    }
    .link{
        display: none;
    }
}