<div class="sidebar d-flex">
    <a routerLink="/Dashboard" class="logo">
        <h1>
            <b>Schematix</b>
        </h1>
    </a>
    <div class="links d-flex">
        <a routerLink="/Dashboard" routerLinkActive="active" class="link">
            <i class="fa-solid fa-gauge"></i><span>Dashboard</span>
        </a>
        <a routerLink="/Shifts" routerLinkActive="active" class="link">
            <i class="fa-regular fa-clock"></i><span>Shifts</span>
        </a>
        <a routerLink="/Branches" routerLinkActive="active" routerLinkActive="active" class="link">
            <i class="fa-regular fa-building"></i><span>Branches</span>
        </a>
        <a routerLink="/Employees" routerLinkActive="active" class="link">
            <i class="fa-regular fa-user"></i><span>Employees</span>
        </a>
        <div class="link">
            
        </div>
    </div>
    <div class="profile">
        <div class="row"> 
            <div class="col">
                <img src="../../../assets/Images/Andreas Lindell2.jpg" class="profileImage">
            </div>
        </div>
        <div class="row" class="profileInfo">
            <div Id="profileName"><b>Name</b></div>
            <div Id="profileRole">Role</div>
        </div>
        <div class="row" class="ProfileLogout">
            <a href="#" class="D-flex" id="logout">
                <i class="fa-solid fa-right-from-bracket fa-rotate-180"></i><span>Logout</span>
            </a>
        </div>
    </div>
</div>