<div class="fluid">
    <div class="row row-cols-2 section1">
        <div class="col-xxl-6 col-12">
            <h4 class="title">
                Branches
            </h4>
            <div class="card">
                <div class="card-header">
                    <div class="row">
                        <div class="col-3">
                           <b>Branch Name</b> 
                        </div>
                        <div class="col-3">
                           <b>Manager</b> 
                        </div>
                        <div class="col-3">
                           <b>Email</b> 
                        </div>
                        <div class="col-3">
                           <b>Phonenumber</b> 
                        </div>
                    </div>
                  </div>
                <div class="card-body d-flex flex-nowrap overflow-auto">
                    <div class="card-text">
                        <div class="row card-row">
                            <div class="col-3">
                               <b>Branch Name</b> 
                            </div>
                            <div class="col-3">
                               Manager
                            </div>
                            <div class="col-3">
                               Email
                            </div>
                            <div class="col-3">
                               Phonenumber
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xxl-6 col-12">
            <h4 class="title">
                Employees
            </h4>
            <div class="card">
                <div class="card-header">
                    <div class="row">
                        <div class="col-3">
                           <b>Branch Name</b> 
                        </div>
                        <div class="col-3">
                           <b>Manager</b> 
                        </div>
                        <div class="col-3">
                           <b>Email</b> 
                        </div>
                        <div class="col-3">
                           <b>Phonenumber</b> 
                        </div>
                    </div>
                  </div>
                <div class="card-body d-flex flex-nowrap overflow-auto">
                    <div class="card-text">
                        <div class="row">
                            <div class="col-3">
                               <b>Branch Name</b> 
                            </div>
                            <div class="col-3">
                               Manager
                            </div>
                            <div class="col-3">
                               Email
                            </div>
                            <div class="col-3">
                               Phonenumber
                            </div>
                        </div>
                    </div>
                    <div class="card-text">
                        <div class="row">
                            <div class="col-3">
                               <b>Branch Name</b> 
                            </div>
                            <div class="col-3">
                               Manager
                            </div>
                            <div class="col-3">
                               Email
                            </div>
                            <div class="col-3">
                               Phonenumber
                            </div>
                        </div>
                    </div>
                    <div class="card-text">
                        <div class="row">
                            <div class="col-3">
                               <b>Branch Name</b> 
                            </div>
                            <div class="col-3">
                               Manager
                            </div>
                            <div class="col-3">
                               Email
                            </div>
                            <div class="col-3">
                               Phonenumber
                            </div>
                        </div>
                    </div>
                    <div class="card-text">
                        <div class="row">
                            <div class="col-3">
                               <b>Branch Name</b> 
                            </div>
                            <div class="col-3">
                               Manager
                            </div>
                            <div class="col-3">
                               Email
                            </div>
                            <div class="col-3">
                               Phonenumber
                            </div>
                        </div>
                    </div>
                    <div class="card-text">
                        <div class="row">
                            <div class="col-3">
                               <b>Branch Name</b> 
                            </div>
                            <div class="col-3">
                               Manager
                            </div>
                            <div class="col-3">
                               Email
                            </div>
                            <div class="col-3">
                               Phonenumber
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row section2">
        <div class="col-12">
            <h4 class="title">
                Shifts
            </h4>
            <div class="card">
                <div class="card-header">
                    <div class="d-flex justify-content-center">
                        <div class="btn-group" role="group" aria-label="Basic example">
                            <button type="button" class="btn">
                                <i class="fa-solid fa-arrow-left" style="color: #ffffff;"></i>
                            </button>
                            <button disabled id="week"><b>Week 5</b></button>
                            <button type="button" class="btn">
                                <i class="fa-solid fa-arrow-right" style="color: #ffffff;"></i>
                            </button>
                        </div>
                    </div>
                    <div class="row weekdays">
                        <div class="col-2">
                           <b>Employee Name</b> 
                        </div>
                        <div class="col">
                            <b>Monday</b> 
                        </div>
                        <div class="col">
                            <b>Tuesday</b> 
                        </div>
                        <div class="col">
                            <b>Wednesday</b> 
                        </div>
                        <div class="col">
                            <b>Thursday</b> 
                        </div>
                        <div class="col">
                            <b>Friday</b> 
                        </div>
                        <div class="col">
                            <b>Saturday</b> 
                        </div>
                        <div class="col">
                            <b>Sunday</b> 
                        </div>
                    </div>
                  </div>
                <div class="card-body d-flex flex-nowrap overflow-auto" id="shifts">
                    <div class="card-text">
                        <div class="row shifts">
                            <div class="col-2">
                                <div class="col-4">
                                    <img src="../../assets/Images/DefaultUserImage.png" alt="userImage" id="userImage">
                                </div>
                                <div class="col-8">
                                    <b>Employee Name</b>
                                </div>
                            </div>
                            <div class="col">
                                <div class="shiftblock">
                                    <div class="shiftblocktop">
                                        Shift
                                    </div>
                                    <div class="shiftblockbody">
                                        yo
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <b>Tuesday</b> 
                            </div>
                            <div class="col">
                                <b>Wednesday</b> 
                            </div>
                            <div class="col">
                                <b>Thursday</b> 
                            </div>
                            <div class="col">
                                <b>Friday</b> 
                            </div>
                            <div class="col">
                                <b>Saturday</b> 
                            </div>
                            <div class="col">
                                <b>Sunday</b> 
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row section3">
        <div class="col-12">
            <h4 class="title">
                Happenings
            </h4>
            <div class="card">
                <div class="card-header">
                    <div class="row happenings">
                        <div class="col-3">
                           <b>Happening</b> 
                        </div>
                        <div class="col-3">
                            <b>Type</b> 
                        </div>
                        <div class="col-3">
                            <b>Time</b> 
                        </div>
                        <div class="col-3">
                            <b>Location</b> 
                        </div>
                    </div>
                  </div>
                <div class="card-body d-flex flex-nowrap overflow-auto" id="happenings">
                    <div class="card-text">
                        <div class="row happenings">
                            <div class="col-3">
                               <b>Happening</b> 
                            </div>
                            <div class="col-3">
                                <b>Type</b> 
                            </div>
                            <div class="col-3">
                                <b>Time</b> 
                            </div>
                            <div class="col-3">
                                <b>Location</b> 
                            </div>
                        </div>
                    </div>
                    <div class="card-text">
                        <div class="row happenings">
                            <div class="col-3">
                               <b>Happening</b> 
                            </div>
                            <div class="col-3">
                                <b>Type</b> 
                            </div>
                            <div class="col-3">
                                <b>Time</b> 
                            </div>
                            <div class="col-3">
                                <b>Location</b> 
                            </div>
                        </div>
                    </div>
                    <div class="card-text">
                        <div class="row happenings">
                            <div class="col-3">
                               <b>Happening</b> 
                            </div>
                            <div class="col-3">
                                <b>Type</b> 
                            </div>
                            <div class="col-3">
                                <b>Time</b> 
                            </div>
                            <div class="col-3">
                                <b>Location</b> 
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
