.fluid{
    height: 100vh;
    background-color: var(--darkgreen);
}
.section1, .section2, .section3{
    width: 100%;
}
.titleandfilter{
    display: flex;
    justify-content: space-between;

}
a{
    text-decoration: none;
    color: var(--green);
}
.disabled{
    color: white;
    border: none;
    background-color: var(--sidebar);
}
.btn{
    border: none;
    color: white;
    background-color: var(--green);
}
.btn:hover{
    background-color: var(--sidebar);
}
.modal-content{
    width: 25rem;
    background-color: transparent;
}
.modal-content> *{
    border: 0;
    color: white;
}
.modal-header{
    background-color: var(--sidebar);
}
.modal-body{
    display: flex;
    justify-content: center;
    background-color: var(--darkestgreen);
}
.modal-footer{
    background-color: var(--darkestgreen);
}   
.input-group{
    width: 25%;
}
.input-group > *{
    border: 1px solid var(--sidebar);
}
.form-control:focus{
    box-shadow: 0px 0px 0px 2px var(--green);
}
.input-group-text{
    color: white;
    background-color: var(--sidebar);
}
#employeeimage{
    height: 4rem;
    width: 4rem;
}
.list-group{
    border: 1px solid var(--green);
    border-radius: 5px;
    display: flex;
    text-align: start;
}
.list-group-item{
    width: 100%;
    color: white;
    background-color: transparent;
    min-height: 3rem;
}

.filter{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.title{
    width: 25%;
    border-left: 4px solid var(--green);
    padding: 0.5rem;
    color: white;
    margin-bottom: 1rem;
}
.card{
    border: 0;
    border-radius: 10px;
    background-color: var(--darkestgreen);
}

.col-12{
    padding: 1rem;
    padding-left: 2rem;
}
.col-2{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.card-header{
    padding-top: 0.5rem;
    color: white;
    background-color: var(--sidebar);
}
.card-text{
    padding: 1rem;
    box-shadow: 0 2px 2px -2px gray;
}
.card-body{
    max-height: 75vh;
    padding: 0;
    color: #6bb1dd;
    flex-direction: column;
}
.spinner{
    width: 100%;
    height: 15rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.spinner-border{
    height: 5rem;
    width: 5rem;
}