<div class="Employees">
    <div class="container-fluid main">
        <div class="middle">
            <h4 class="pagetitle">
                <strong>
                    Employees
                </strong>
            </h4>
            <div class="row">
                <div class="col-4 employee">
                    <div class="card">
                        <h4 class="card-title employeename">
                            Employee Name <img src="../../assets/Images/DefaultUserImage.png" alt="UserPicture" id="UserPicture">
                        </h4>
                        <div class="card-body">
                            <div class="card-text">
                                <i class="fa-regular fa-building"></i>
                                Employee Branch
                            </div>
                            <div class="card-text">
                                <i class="fa-solid fa-user"></i> 
                                Manager Name
                            </div>
                            <div class="card-text">
                                <i class="fa-solid fa-envelope"></i>
                                Employee Email
                            </div>
                            <div class="card-text">
                                <i class="fa-solid fa-phone"></i> 
                                Employee Phonenumber
                            </div>
                        </div>
                        <div class="card-footer">
                            <a href=""><i class="fa-solid fa-circle-info fa-xl"></i></a>
                            <a href=""><i class="fa-solid fa-pen-to-square fa-xl"></i></a>
                        </div>
                    </div>
                    <div class="row location">

                    </div>
                    
                </div>
                
            </div>
        </div>
    </div>
</div>