.fluid{
    height: 100vh;
    background-color: var(--darkgreen);
}
.section1, .section2, .section3{
    width: 100%;
}
.title{
    border-left: 4px solid var(--green);
    padding: 0.5rem;
    color: white;
    margin-bottom: 1rem;
}
.card{
    border: 0;
    border-radius: 10px;
    background-color: var(--darkestgreen);
}
.col-12{
    padding: 1rem;
    padding-left: 2rem;
}
.col-2{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.card-header{
    padding-top: 0.5rem;
    color: white;
    background-color: var(--sidebar);
}
.card-text{
    padding: 1rem;
    box-shadow: 0 2px 2px -2px gray;
}
.card-body{
    max-height: 11rem;
    padding: 0;
    color: #6bb1dd;
    flex-direction: column;
}
.spinner{
    width: 100%;
    height: 15rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.spinner-border{
    height: 5rem;
    width: 5rem;
}