.yesyes{
    display: flex;
    flex-direction: row;
    min-height: 100dvh;
    height: auto;
    width: 100dvw;
}
.navigation{
    width: 18rem;
    height: 100%;
}
.content{
    min-height: 100dvh;
    height: auto;
    width: 100%;
}

::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #ffffff; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }

@media (max-width: 991px){
    .navigation{
        width: 100%;
        z-index: 1;
    }
    .yesyes{
        flex-direction: column;
    }
}
