.fluid{
    height: 100vh;
    background-color: var(--darkgreen);
}
.section1, .section2, .section3{
    width: 100%;
}
.titleandfilter{
    display: flex;
    justify-content: space-between;

}
a{
    text-decoration: none;
    color: var(--green);
}
.input-group > *{
    border: 1px solid var(--sidebar);
}
.form-control:focus{
    box-shadow: 0px 0px 0px 2px var(--green);
}
.input-group-text{
    color: white;
    background-color: var(--sidebar);
}
.filter{
    width: 25%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.title{
    width: 25%;
    border-left: 4px solid var(--green);
    padding: 0.5rem;
    color: white;
    margin-bottom: 1rem;
}
.card{
    border: 0;
    border-radius: 10px;
    background-color: var(--darkestgreen);
}
.col-12{
    padding: 1rem;
    padding-left: 2rem;
    padding-bottom: 0;
}
.col-2{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.card-header{
    padding-right: 1.4rem;
    padding-top: 0.5rem;
    color: white;
    background-color: var(--sidebar);
}
.card-text{
    padding: 1rem;
    box-shadow: 0 2px 2px -2px gray;
}

.card-body{
    max-height: 10rem;
    padding: 0;
    color: #6bb1dd;
    flex-direction: column;
}
.btn-group{
    margin-bottom: 1rem;
}
#week{
    border: 0;
    padding: 0;
    width: 5rem;
}
button{
    height: 2.5rem;
    background-color: var(--darkestgreen);
    color: white;
}
#shifts{
    min-height: 16rem;
}
#userImage{
    height: 3rem;
}
.btn{
    width: 3rem;
}
.btn:hover{
    background-color:#6bb1dd;
}
.weekdays{
    justify-content: space-between;
}
.shifts{
    height: auto;
    justify-content: space-between;
}
.weekdays > * {
    display: flex;
    justify-content: center;
}
.happenings{
    justify-content: space-between;
}
.spinner{
    width: 100%;
    height: 15rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.spinner-border{
    height: 5rem;
    width: 5rem;
}
.shifts > *{
    display: flex;
    justify-content: center;
    min-height: 3rem;
    border-right: 1px solid lightgray;
}
#happenings{
    max-height: 7rem;
}
.shifts > .col{
    min-width: 10rem;
} 
.shifts > .col-2{
    min-width: 10rem;
}   
.shiftblock{
    background-color: var(--green);
    display: flex;
    flex-direction: column;
    border-radius: 6px;
    width: 100%;
}
.shiftblock > * {
    display: flex;
    justify-content: center;
}
.shiftblocktop{
    font-weight: bold;
    font-size: large;
    min-height: 1.5rem;
    border-radius: 5px 5px 0 0;
    background-color: var(--darkgreen);
    color: white;
}
.shiftblockbody{
    min-height: 2.5rem;
    color: white;
    font-weight: 400;
    font-size: small;
}

